.section-skills{
    background-image: url(../image/BackGroundWeb.png);
    background-color: #001127;

    background-repeat: repeat-x;
}

.section-skills h2{
    margin-top: 150px;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section-skills-program{
    padding: 15px;
    margin: 70px;
    border: 5px solid;
    border-radius: 15px;
}

@media only screen and (max-width:1300px) and (min-width: 768px) {
    .section-skills h2{
        margin-top: 5px;
    }

    .section-skills h2{
        margin-top: 150px;

    }

    .section-skills-program{
        padding: 6px;
        margin: 10px;
        border: 2px solid;
        border-radius: 15px;
    }
}

@media only screen and (max-width:767px) and (min-width: 480px) {
    .section-skills h2{
        margin-top: 5px;
    }

    .section-skills h2{
        margin-top: 150px;

    }

    .section-skills-program{
        padding: 6px;
        margin: 10px;
        border: 2px solid;
        border-radius: 15px;
    }
}

@media only screen and (max-width:480px) {
    .section-skills h2{
        margin-top: 3px;
    }

    .section-skills{

        background-color: rgb(0, 45, 75);
        background-repeat: repeat-x;
    }

    .section-skills h2{
        margin-top: 150px;

    }

    .section-skills h3{
        font-size: 80%;

    }

    .section-skills-program{
        padding: 6px;
        margin: 10px;
        border: 2px solid;
        border-radius: 15px;
    }
}